@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --gradient-background: linear-gradient(315deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);
  --gradient-course: linear-gradient(315deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
  --gradient-hover: linear-gradient(135deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
  /* CSS HEX */
  --dark: #495867ff;
  --blue: #577399ff;
  --lightblue: #bdd5eaff;
  --light: #f7f7ffff;
  --red: #fe5f55ff;
  --green: #79E8BBff;
  --spring: linear-gradient(135deg, var(--green) 0%, #b3f2d9 100%);
  --fall: linear-gradient(135deg, var(--red) 0%, #ffa59e 100%);
  --summer: linear-gradient(135deg, hsla(45, 100%, 72%, 1) 0%, hsla(29, 95%, 58%, 1) 100%);
  --both: linear-gradient(315deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
  --rare: linear-gradient(135deg, hsla(181, 87%, 67%, 1) 0%, hsla(216, 100%, 70%, 1) 100%);
}

* {
  font-family: Be Vietnam Pro;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

img {
  max-height: 7em;
}

div.parent {
  width: 40em;
}

div.search {
  margin: 2em;
  border-radius: 8px;
  background: var(--gradient-background);
  color: white;
  padding: 2em;
  grid-template-columns:
}

h2 {
  font-weight: normal;
}

div.course {
  background: var(--light);
  width: 5em;
  height: 5em;
  display: grid;
  align-items: center;
  border-radius: 5em;
  user-select: none;
  text-align: center;
  cursor: grab;
  z-index: 0;
}

div.course:active {
  cursor: grabbing;
}

div.course:hover {
  background: var(--gradient-hover);
  color: var(--dark);
  filter: drop-shadow(0px 3px 10px var(--blue));
  z-index: 2;
}

div#description {
  background: white;
  padding: 2em;
  display: none;
  z-index: 1;
  border-radius: 8px;
  margin: 0em 2em 2em 2em;
}

.container {
  display: block;
  position: relative;
  float: right;
  bottom: 1.5em;
  padding-right: 2em;
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  right: 0rem;
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  border-radius: 2em;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: var(--lightblue);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: var(--green);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.75rem;
  top: 0.5rem;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
div.flexcontainer{
	display:flex;
	flex-wrap:wrap;
	width:30em;
	visibility:hidden;
}
div.des{
	flex-basis:100%;
	background:var(--light);
	color:var(--darkblue);
	padding:2em;
}

div.indicator{
	display:inline;
	padding:1em;
	float:left;
	color:white;
	font-size:0.75rem;
}

div.info{

	line-height:1.5em;
	background:var(--light);
	height:1.5em;
	width:1.5em;
	border-radius:3em;
	color:var(--dark);
	text-align:center;
	position:absolute;
	top:3em;
	left:35em;
}

div.info:hover{
	filter: drop-shadow(0px 3px 10px var(--lightblue));
	cursor:pointer;
}

div.info:hover>div.flexcontainer{
	visibility:visible;
}
